<div ng-include="'./views/common/header.view.client.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="list-name-sidebar col-sm-2 sidebar">
            <ul class="nav nav-sidebar">
                <!--<li class=""><a>Recipe List<span class="sr-only"></span></a></li>-->
                <li class="list-group-item active"><h5>Recipe List</h5></li>
                <li ng-repeat="recipe in model.recipes"
                    ng-class="{active: recipe._id === model.recipeId}"
                    class="list-group-item">
                <!--<li ng-class="{active: recipe._id === model.recipeId}"><a href="#"> {{recipe.name}}<span class="sr-only">(current)</span></a></li>-->

                <div class="row">
                    <div class="col-sm-8">
                    {{recipe.name}}
                    </div>
                    <div class="col-sm-4">
                        <a ng-if="recipe._id !== model.recipeId"
                           href="#!/creator/{{model.creatorId}}/recipe/{{recipe._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 main">
            <div ng-show="model.message"
                 class="alert alert-primary">{{model.message}}
            </div>
            <div ng-show="model.error"
                 class="alert alert-danger">{{model.error}}
            </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control"
                           ng-model="model.recipe.name"
                           placeholder="please enter the name of the recipe"
                           id="name"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description"
                              ng-model="model.recipe.description"
                              rows="3"
                              placeholder="please enter the description of the recipe"
                              class="form-control">
                    </textarea>
                </div>
            <div class="form-group">
                <label for="numberOfServings">Number of Servings</label>
                <input type = "number"
                       min = "0"
                       class="form-control"
                       ng-model="model.recipe.numberOfServings"
                       placeholder="please enter the number of servings"
                       id="numberOfServings"/>
            </div>
            <div class="form-group">
                <label for="totalTime">Total time</label>
                <input type = "number"
                       min = "0"
                        class="form-control"
                       ng-model="model.recipe.totalTime"
                       placeholder="please enter the total time"
                       id="totalTime"/>
            </div>
            <h3 class="sub-header">Ingredient</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ingredient in model.recipe.ingredients track by $index">
                            <td ng-if="model.editIngredient == ingredient"><input ng-model = "ingredient.name"/></td>
                            <td ng-if="model.editIngredient == ingredient"><input ng-model = "ingredient.description"/></td>
                            <td ng-if="model.editIngredient != ingredient">{{ingredient.name}}</td>
                            <td ng-if="model.editIngredient != ingredient">{{ingredient.description}}</td>
                            <td class="text-center">
                                <a ng-if="model.editIngredient == ingredient"
                                   ng-click="model.editSingleIngredient(ingredient)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                                <a ng-if="model.editIngredient != ingredient"
                                   ng-click="model.selectSingleIngredient(ingredient)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a ng-click="model.deleteSingleIngredient(ingredient)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        <tr class="info">
                            <td><input ng-model = "model.newIngredient.name"/></td>
                            <td><input ng-model = "model.newIngredient.description"/></td>
                            <td class="text-center">
                                <a ng-click="model.createSingleIngredient()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a ng-click="model.clearSingleIngredient()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="url"
                       class="form-control"
                       ng-model="model.recipe.image"
                       id="image"
                       placeholder="please upload the image of your recipe"/>
            </div>
            <div class="form-group">
                <label for="file">Upload Image</label>
                <form id="file"
                      action="/api/recipe/upload"
                      method="post"
                      enctype="multipart/form-data">
                    <input name="myFile"
                           type="file"
                           class="form-control"
                           accept="image/*"/>
                    <input name="userId"
                           value="{{model.creatorId}}"
                           style="display: none"/>
                    <input name="recipeId"
                           value="{{model.recipeId}}"
                           style="display: none"/>
                    <button type="submit"
                            onclick="window.alert('Changes are automatically saved.')"
                            ng-click = "model.saveRecipe()"
                            class="btn btn-warning btn-block">Upload Image
                    </button>
                </form>
            </div>

            <a ng-show="!model.ifNewRecipe"
               ng-click="model.updateRecipe()"
               class="btn btn-block btn-primary">Update</a>
            <a ng-show="model.ifNewRecipe"
               ng-click="model.updateRecipe()"
               class="btn btn-block btn-primary">Create</a>
            <a ng-show="!model.ifNewRecipe"
               ng-click="model.deleteRecipe()"
               class="btn btn-block btn-danger">Delete</a>
            <a ng-show="model.ifNewRecipe"
               ng-click="model.deleteRecipe()"
               class="btn btn-block btn-danger">Cancel</a>
        </div>
    </div>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>
