<div ng-include="'./views/common/header.view.client.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center recipeListImages"
             ng-repeat="recipe in model.recipes">
            <div class="wd-widget-toolbar">
                <a ng-show="model.canEdit()"
                   href="#!/auth_recipe_list/{{recipe._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <a href="#!/recipe_list/{{recipe._id}}#LOCAL">
                <img class="recipeListImage"
                     ng-src="{{recipe.image}}"
                     onerror="this.onerror=null; this.src='/resource/defaultPics/placeholder-image10.jpg'"/>
                <p class="text-on-image">{{recipe.name}}</p>
            </a>
        </div>
        <div ng-show="model.canEdit()"
             class="col-xs-12 col-sm-6 col-md-4 text-center recipeListImages">
            <img class="recipeListImage"
                 src="/resource/defaultPics/addphoto.png"/>
            <a href="">
                <p ng-click="model.createRecipe()"
                   class="text-on-image">Add New Recipe!</p>
            </a>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>