<div ng-include="'views/common/header-noSideBar.view.client.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div id="recipeListImages"
             class="col-xs-6 col-sm-3 col-md-2 text-center"
             ng-repeat="recipe in model.recipes">
            <img class="recipeListImage"
                 ng-click="model.goToDetail(recipe, recipe._id)"
                 ng-src="{{recipe.image}}"
                 onerror="this.onerror=null; this.src='/uploads/recipe/placeholder-image10.jpg'"/>

        </div>
    </div>
</div>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-md-4 col-sm-7 col-xs-10">
                    Name
                </div>
                <div class="col-md-3 visible-md visible-lg">
                    Created
                </div>
                <div class="col-sm-3 hidden-xs">
                    Accessed
                </div>
                <div class="col-xs-2"></div>
            </div>
        </li>
        <!--{{model.recipes}}-->
        <li ng-repeat="recipe in model.recipes"
            class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-sm-7 col-xs-10">
                        {{recipe.name}}
                </div>
                <div class="col-md-3 visible-md visible-lg">
                    {{recipe.dateCreated | date}}
                </div>
                <div class="col-sm-3 hidden-xs">
                    {{recipe.dateModified | date}}
                </div>
                <div class="col-xs-2">
                    <a href="#!/recipe/{{recipe._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <a class="btn btn-primary btn-block" ng-click="model.createRecipe()">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>