<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 text-center">
                <a class="navbar-btn"
                   href="#!/"><span class="navigating-btn glyphicon glyphicon-home"></span></a>
            </div>
            <div class="col-xs-3 text-center">
                <a class="navbar-btn"
                   href="#!/store-search"><span class="navigating-btn glyphicon glyphicon-map-marker"></span></a>
            </div>
            <!--TODO: add inbox route-->
            <div class="col-xs-3 text-center">
                <a class="navbar-btn"
                   ng-if="model.ifLoggedIn"
                   href="#!/"><span class="navigating-btn glyphicon glyphicon-envelope"></span></a>
            </div>
            <div class="col-xs-3 text-center">
                <a class="navbar-btn"
                   ng-if="model.ifLoggedIn"
                   href="#!/profile">
                    <span class="navigating-btn glyphicon glyphicon-user"></span></a>
            </div>
        </div>
    </div>
</nav>