<!-- footer -->
<nav class="navbar navbar-fixed-bottom">
    <li class="row container-fluid">
        <div class="col-xs-3 text-center">
            <a href="#!/profile"><span class="glyphicon glyphicon-user"></span></a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="#!/"><span class="fa fa-user-plus">&nbsp;&nbsp;&nbsp;like</span></a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="#!/"><span class="fa fa-user-times">&nbsp;&nbsp;&nbsp;like</span></a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="#!/"><span class="glyphicon glyphicon-home"></span></a>
        </div>
    </li>
</nav>