<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 text-left">
                <a href="#!/"
                   class="navbar-btn">
                    <span class="navigating-btn glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="col-xs-6 text-right">
                <a href="#!/profile"
                   ng-show="model.userId"
                   class="navbar-btn">
                    <span class="navigating-btn glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>