<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs col-xs-4">
                <!--<div class="col-sm-10">-->
                <a  ng-click="model.goBack()"
                    class="navbar-btn">
                    <span class="navigating-btn glyphicon glyphicon-chevron-left pull-left"></span>
                </a>
                <span class="navbar-brand hover-focus-disable">{{model.sideName}}</span>
                <!--</div>-->
                <!--<div class="col-sm-2">-->
                <a ng-click="model.sideFuncButton()"
                   class="navbar-btn">
                    <span class="right-align-btn navigating-btn {{model.sideButtonPattern}} pull-right"></span>
                </a>
                <!--</div>-->
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="visible-xs col-xs-12">
                        <a ng-click="model.goBack()"
                           class="navbar-btn">
                            <span class="navigating-btn glyphicon glyphicon-chevron-left pull-left"></span>
                        </a>
                        <span class="navbar-brand hover-focus-disable">{{model.currentName}}</span>
                        <a ng-click="model.funcButton()"
                           class="navbar-btn">
                            <span class="navigating-btn {{model.funcButtonPattern}} pull-right"></span>
                        </a>
                    </div>
                    <div class="hidden-xs col-xs-12">
                        <span class="current-brand navbar-brand hover-focus-disable">{{model.currentName}}</span>
                        <a ng-click="model.funcButton()"
                           class="navbar-btn">
                            <span class="navigating-btn {{model.funcButtonPattern}} pull-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>