<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                <a onclick="history.back()"
                   class="navbar-btn">
                    <span class="navigating-btn glyphicon glyphicon-chevron-left pull-left"></span>
                </a>
                <span class="navbar-brand hover-focus-disable">{{model.sectionTitle}}</span>
            </div>
            <div class="col-xs-2">
                <a ng-if="model.ifLoggedIn"
                   ng-click="model.logout()"
                   class="navbar-btn">
                    <span class="navigating-btn glyphicon glyphicon-log-out pull-right"><strong>Logout</strong></span>
                </a>
            </div>
        </div>
    </div>
</nav>