<div ng-include="'./views/common/header.view.client.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-2 sidebar">
            <div class="nav nav-sidebar"
                 ng-if="model.ifLocal">
                <h4>Recipe Provider:</h4>
                <img id="smallProfileImage"
                     class="img-responsive"
                     ng-src="{{model.recipeCreator.photo}}"/>
                <label for="username">Username</label>
                <p id="username">{{model.recipeCreator.username}}</p>
                <label for="name">Name</label>
                <p id="name">{{model.recipeCreator.firstName}} {{model.recipeCreator.lastName}}</p>
                <label for="email">Email</label>
                <p id="email">{{model.recipeCreator.email}}</p>
                <a class="btn btn-block btn-primary"
                   href="#!/profile/{{model.recipeCreator._id}}">Find more</a>
            </div>
            <div class="nav nav-sidebar"
                 ng-if="!model.ifLocal">
                <h4>Recipe Provider:</h4>
                <img id="smallYummlyProfileImage"
                     class="img-responsive"
                     ng-src="{{model.recipe.images[0].hostedMediumUrl}}"/>
                <label for="recipename">Recipe Name</label>
                <p id="recipename">{{model.recipe.name}}</p>
                <label for="sourceSite">Source Site</label>
                <p id="sourceSite">{{model.recipe.source.sourceDisplayName}}</p>
                <label for="sourceURL">Source URL</label>
                <p id="sourceURL">{{model.recipe.source.sourceRecipeUrl}}</p>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-2 main">
            <!--{{model.recipe}}-->
            <h2 class="page-header">
                {{model.recipe.name}}
                <a class="btn pull-right"
                   ng-if="model.canEdit"
                   ng-click="model.goToEdit()">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a id="numOfLikeShowCreator"
                   class="btn pull-right"
                   ng-if="!model.canLike">
                    <span class="glyphicon glyphicon-heart"></span> {{model.numberOfLikes}} Likes
                </a>
                <a class="btn pull-right"
                   ng-if="model.canLike && model.like"
                   ng-click="model.unlikeRecipe()">
                    <span class="glyphicon glyphicon-heart">{{model.numberOfLikes}}</span>
                </a>
                <a class="btn pull-right"
                   ng-if="model.canLike && !model.like"
                   ng-click="model.likeRecipe()">
                    <span class="glyphicon glyphicon-heart-empty">{{model.numberOfLikes}}</span>
                </a>
            </h2>
            <div class="row">
                <div class="col-sm-4">
                    <p>
                    <h5>Number of servings: </h5> {{model.recipe.numberOfServings}}
                    <h5>Total time (in min): </h5> {{model.recipe.totalTime}}
                    <h5>Description: </h5> {{model.recipe.description}}
                    </p>
                </div>
                <div class="hidden-xs col-sm-8">
                    <img ng-if="model.ifLocal"
                         class="title-image img-rounded img-responsive"
                         ng-src="{{model.recipe.image}}"
                         onerror="this.onerror=null; this.src='/resource/defaultPics/placeholder-image10.jpg'"/>
                </div>
            </div>
            <h3 class="sub-header">Ingredients</h3>
            <div ng-repeat="ingredient in model.recipe.ingredients">
                <ul class="list-unstyled">
                    <li>
                        <a ng-click="model.goToIngredientDetail(ingredient.name)">
                            <label>{{ingredient.name}}</label></a> : {{ingredient.description}}
                    </li>
                </ul>
            </div>

            <h3 class="sub-header">Instructions</h3>
            <div ng-if="model.ifLocal">
                <p>{{model.recipe.instruction}}</p>
            </div>
            <div ng-if="!model.ifLocal">
                <a href="{{model.recipe.source.sourceRecipeUrl}}"
                   target="embedded-content"
                   ng-click="model.showYummlyInstruction = true">
                    Open instruction below
                </a>
                <div class="video-container"
                     ng-if="model.showYummlyInstruction">
                    <iframe sandbox="allow-same-origin allow-scripts"
                            class="embed-responsive-item"
                            name="embedded-content"></iframe>
                </div>
            </div>
            <div>
                <h3 class="sub-header">Comments
                    <a class="btn pull-right"
                       ng-show="model.canComment && !model.newComment"
                       ng-click="model.createComment()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </h3>

                <div ng-if="!model.canComment"
                     class="alert alert-danger">
                    {{model.message}}
                </div>
                <p ng-if="model.canComment && model.reviews.length===0">Be the first one to comment!</p>
                <div class="input-group">
                    <input class="form-control"
                           ng-show="model.newComment"
                           ng-model="model.newComment.content"/>
                    <span class="input-group-btn">
                    <a class="btn btn-default"
                       ng-show="model.newComment"
                       ng-click="model.submitComment()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                    </span>

                    <span class="input-group-btn">
                    <a class="btn btn-default"
                       ng-show="model.newComment"
                       ng-click="model.clearComment()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    </span>
                </div>
                <div>
                    <ul class="list-group list-unstyled"
                        ng-repeat="review in model.reviews">
                        <li class="list-group-item-warning">
                            <label>
                                <span class="glyphicon glyphicon-user"></span>User {{review.fromWhom.username}}
                            </label> : {{review.content}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>

