<div ng-include="'./views/common/header.view.client.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            <div class="nav nav-sidebar">
                <h4>Recipe Provider:</h4>
                <img id="smallProfileImage" class="img-responsive" ng-src="{{model.recipeCreator.photo}}"/>
                <label for="username">Username</label>
                <p id="username">{{model.recipeCreator.username}}</p>
                <label for="name">Name</label>
                <p id="name">{{model.recipeCreator.firstName}} {{model.recipeCreator.lastName}}</p>
                <label for="email">Email</label>
                <p id="email">{{model.recipeCreator.email}}</p>
                <a class="btn btn-block btn-primary" href="/profile/{{model.recipeCreator._id}}">Find more</a>
            </div>

        </div>
        <div class="col-sm-10 col-sm-offset-2 main">
            <h2 class="page-header">{{model.recipe.name}}
                <a class="btn pull-right" ng-show="model.like" ng-click="model.unlikeRecipe()">
                <span class="glyphicon glyphicon-heart"></span>
                </a>
                <a class="btn pull-right" ng-show="!model.like" ng-click="model.likeRecipe()">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </a>
            </h2>
            <span>total time: {{model.recipe.totalTime}}</span><br>
            <span>number of servings: {{model.recipe.numberOfServings}}</span>
            <!--{{model.recipe}}-->
            <h3 class="sub-header">Ingredients</h3>
            <!--{{ingredient.description}}-->
            <!--{{model.recipe.ingredients}}-->
            <div ng-repeat="ingredient in model.recipe.ingredients">
                <ul class="list-unstyled">
                    <li><a ng-click="model.goToIngredientDetail(ingredient.name)">{{ingredient.name}}</a> : {{ingredient.description}}</li>
                </ul>
            </div>

            <h3 class="sub-header">Instructions</h3>

            <!--TODO: copyright-->
            {{model.recipe.source.sourceRecipeUrl}}
            <div ng-if="!model.ifLocal">
                <!--<a href=model.trust("{{model.recipe.source.sourceRecipeUrl}}")-->
                   <!--target="embedded-content">-->
                    <!--Open instruction below-->
                <!--</a>-->
                <!--<iframe sandbox="allow-same-origin allow-scripts"-->
                        <!--src="{{model.trust(model.recipe.source.sourceRecipeUrl)}}"-->
                        <!--class="responsive" name="embedded-content"></iframe>-->
            </div>

            <!--<h2 class="sub-header">More from ...</h2>-->
            <!--<div class="placeholders" >-->
                <!--<div class="placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4 class="text-center">Label</h4>-->
                    <!--<span class="text-center text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4 class="text-center">Label</h4>-->
                    <!--<span class="text-center text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4 class="text-center">Label</h4>-->
                    <!--<span class="text-center text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4 class="text-center">Label</h4>-->
                    <!--<span class="text-center text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4 class="text-center">Label</h4>-->
                    <!--<span class="text-center text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4 class="text-center">Label</h4>-->
                    <!--<span class="text-center text-muted">Something else</span>-->
                <!--</div>-->
            <!--</div>-->
            <div>
                <h3 class="sub-header">Comments</h3>
                <a class="btn pull-right" ng-click="model.createComment()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <p ng-show="!model.reviews">Be the first one to comment!</p>
                <input class="form-control" ng-show="model.newComment" ng-model="model.newComment.content"/>
                <a class="btn pull-right" ng-show="model.newComment" ng-click="model.submitComment()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>

