<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid">

    <p>Search with current location</p>
    <form>
        <label for="streeAddress">Street Address</label>
        <input id="streeAddress"
               ng-model = "model.address.street"
               type="text"
               class="form-control"/>
        <label for="city">City</label>
        <input id="city"
               ng-model = "model.address.city"
               type="text"
               class="form-control"/>
        <label for="state">State</label>
        <input id="state"
               ng-model = "model.address.state"
               type="text"
               class="form-control"/>
        <label for="zip">Zip Code</label>
        <input id="zip"
               ng-model = "model.address.zip"
               type="text"
               class="form-control"/>
        <button ng-click = "model.searchWithAddress()"
                class="btn btn-block btn-primary">Upload Image & Save </button>
    </form>



    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
           <a ng-click="model.searchWithCoords()"
              class="btn btn-default" type="button">
               <span class="glyphicon glyphicon-search"></span>
           </a>
       </span>
    </div>

    <span class="input-group-btn">
           <a ng-click="model.searchWithCoords()"
              class="btn btn-default" type="button">
               <span class="glyphicon glyphicon-map-marker"></span>
           </a>
       </span>


    <div class="row">
        <div class="clearfix col-sm-12 col-md-2" ng-repeat="place in model.places">
            <ul>
                <li>name:{{place.name}}</li>
                <li>address:{{place.vicinity}}</li>
            </ul>
        </div>
    </div>
</div>


<div ng-include="'./views/common/footer.view.client.html'"></div>
