<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid" style="margin-top: 50px">
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               placeholder="Search recipes"
               class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchRecipes(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
    <div class="row">
        <!--{{model.yummlyRecipes}}-->
        <!--<div id="filckrImage" class="col-xs-6 col-sm-3 col-md-2 text-center" ng-repeat="recipe in model.recipes">-->
        <div class="col-xs-4 text-center" id="yummlyImage" ng-repeat="yummlyRecipe in model.yummlyRecipes">
            <!--{{yummlyRecipe}}-->
            <!--{{recipe}}<br><br>-->
            <!--{{yummlyRecipe.smallImageUrls[0]}}-->
            {{yummlyRecipe.ingredients}}<br>
            {{yummlyRecipe.ingredientLines}}<br>
            <img ng-src="{{yummlyRecipe.smallImageUrls[0]}}"/><br>
            <!--{{recipe.imageUrlsBySize['90']}}<br><br>-->
            <!--{{recipe.id}}-->
            <a ng-click="model.goToDetail(yummlyRecipe, yummlyRecipe.id)">{{yummlyRecipe.recipeName}}</a>
            <!--{{recipe.ingredients}}<br><br>-->
            <!--<img ng-click="model.selectPhoto(recipe)"-->
            <!--ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg"/>-->
        </div>
        <div class="col-xs-4 text-center" id="yummlyImage" ng-repeat="localRecipe in model.localRecipes">

            <!--{{localRecipe}}<br><br>-->
            <img ng-src="{{localRecipe.image}}"/><br>
            <!--{{recipe.imageUrlsBySize['90']}}<br><br>-->
            <!--{{recipe.id}}-->
            <a ng-click="model.goToDetail(localRecipe, localRecipe._id)">{{localRecipe.name}}</a>
            <!--{{recipe.ingredients}}<br><br>-->
            <!--<img ng-click="model.selectPhoto(recipe)"-->
            <!--ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg"/>-->
        </div>
        <!--<div ng-repeat="photo in model.photos">-->

        <!--{{photo}}-->
        <!--</div>-->
</div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>