<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid">
    <div class="section-search-bar input-group">
        <input ng-model="model.searchText"
               type="text"
               placeholder="Search recipes"
               class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchRecipes()"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
    <h3 class="sub-header">Local Recipe</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center recipeListImages"
             ng-repeat="localRecipe in model.localRecipes">
            <img class="recipeListImage "
                 ng-src="{{localRecipe.image}}"
                 onerror="this.onerror=null; this.src='/resource/defaultPics/placeholder-image10.jpg'"/>
            <a ng-click="model.goToDetail(localRecipe, localRecipe._id)">
                <p class="text-on-image">{{localRecipe.name}}</p>
            </a>
        </div>
    </div>
    <h3 class="sub-header">Yummly Recipe</h3>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center recipeListImages"
             ng-repeat="yummlyRecipe in model.yummlyRecipes">
            <img class="recipeListImage"
                 ng-src="{{yummlyRecipe.smallImageUrls[0]}}"
                 onerror="this.onerror=null; this.src='/resource/defaultPics/placeholder-image10.jpg'"/>
            <a ng-click="model.goToDetail(yummlyRecipe, yummlyRecipe.id)">
                <p class="text-on-image">{{yummlyRecipe.recipeName}}</p>
            </a>
        </div>
    </div>
    <div class="text-center"><a ng-click="model.getMoreYummlyRecipe()"><h3>Next</h3></a></div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>