#home {
    background-image: url(../vendor/pics/food-wallpapers-high-quality-resolution-For-Desktop-Wallpaper.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffefd0;
}

li.list-group-item > div.row > div {
    white-space: nowrap;
    overflow: hidden;
}

.navigating-btn {
    top: 17px;
    color: whitesmoke;
}

.navigating-btn:hover,
.navigating-btn:focus {
    color: #7C540C;
}

.navbar {
    background-color: #fcaa19;
    display: inline;
    height:50px;
}


/*@media (min-width: 768px) {*/
    /*.navbar > .container-fluid .navbar-brand {*/
        /*margin-left: 0;*/
    /*}*/

    /*.navbar {*/
        /*height: 50px;*/
    /*}*/

    /*.navbar-inverse .navbar-collapse {*/
        /*float: right;*/
        /*display: inline-block;*/
    /*}*/

    /*.navbar-inverse .container-fluid {*/
        /*display: inline-block;*/
    /*}*/
/*}*/

.navbar .navbar-brand {
    color: whitesmoke;
}

a:focus, a:hover {
    text-decoration: none;
}

.navbar .hover-focus-disable:hover,
.navbar .hover-focus-disable:focus {
    color: whitesmoke;
    cursor: default;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.6;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.recipeListImages {
    padding-top: 10px;
    padding-bottom: 10px;

}

.recipeListImage {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
}

.home-search-bar{
    width: 100%;
    height: 50px;
    background-color: #0f0f0f;
    display: inline-block;

}

.text-on-image {
    position: relative;
    bottom: 33px;
    font-size:24px;
    width:100%;
    text-align:center;
    background:rgba(251,251,251,0.7)
}

.sidebar {
    background-color: #CCBFA6;
    border-right-color: #998F7C;
}

.sub-header{
    padding-bottom: 10px;
    border-bottom: 1px solid #998F7C;
}

.page-header {
    border-bottom-color: #998F7C;
}

#smallProfileImage {
    padding-bottom: 20px;
}