#home {
    background-image: url(../vendor/pics/food-wallpapers-high-quality-resolution-For-Desktop-Wallpaper.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffefd0;
}

li.list-group-item > div.row > div {
    white-space: nowrap;
    overflow: hidden;
}

.navigating-btn {
    top: 17px;
    color: whitesmoke;
}

.navigating-btn:hover,
.navigating-btn:focus {
    color: #7C540C;
}

.navbar {
    background-color: #fcaa19;
    display: inline;
    height: 50px;
}

.profile-navbar {
    background-color: #8a6d3b;
    height: 40px;
}

.profile-navbar .navbar-link {
    color: lightgray;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

.profile-container {
    margin: 0;
    background-color: #ffefde;
}

.textToCenter {
    display: block;
    text-align: center;
}

.imageToCenter {
    display: block;
    margin: auto;
}

.textToTop {
    margin-top: 0;
    vertical-align: top;
}

.toBottom {
    vertical-align: bottom;
}

.main-container {
    margin-top: 50px;
}

#follow-button {
    position: absolute;
    bottom: -30px;
}

#followerNfollowing {
    padding-top: 20px;
}

.change-margin-right-15 {
    margin-right: 15px;
}

.change-margin-left-15 {
    margin-left: 15px;
}

.change-margin-right-30 {
    margin-right: 30px;
}

.margin-top-15 {
    margin-top: 10px;
}

.description {
    display: inline;
}

.noborder {
    border: 0;
}

.top-padding-2 {
    /*padding-top:2px;*/
}

.border-1 {
    border: 6px;
}

.navbar .navbar-brand {
    color: whitesmoke;
}

#account-box-nav {
    background-color: white;
}

a:focus, a:hover, a:visited {
    text-decoration: none;
    cursor: pointer;
}

.navbar .hover-focus-disable:hover,
.navbar .hover-focus-disable:focus {
    color: whitesmoke;
    cursor: default;
}

.list-group-item > div.row > .message-content {
    white-space: initial;
    overflow-wrap: break-word;
}

.message-content {
    white-space: initial;
    overflow-wrap: break-word;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    /*overflow: hidden;*/
    /*for mobile user*/
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    /*for mobile user*/
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.6;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.recipeListImages {
    padding-top: 10px;
    padding-bottom: 10px;

}

.recipeListImage {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;

}

.text-on-image {
    position: relative;
    bottom: 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: black;
    background: rgba(251, 251, 251, 0.6);
    overflow: hidden;
    white-space: nowrap;
}

.card-view {
    height: 150px;
    overflow: hidden;
    background-color: #B2A180;
    margin-bottom: 40px;
}

.card-view:hover, .card-view:focus {
    height: 150px;
    overflow: hidden;
    background-color: #CCB892;
}

.card-view-image {
    margin-top: 30px;
    min-width: 75px;
    max-width: 100px;
    overflow: hidden;
}

.card-view-list-group {
    margin: 10px 10px 10px 10px;
    height: 130px;
}

.card-view-list-group-item-title {
    color: white;
    font-weight: bold;
    font-size: 15px;

}

.card-view-list-group-item-content {
    color: white;
    font-size: 12px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #998F7C;
}

.page-header {
    border-bottom-color: #998F7C;
}

#smallProfileImage {
    padding-bottom: 20px;
}

#smallYummlyProfileImage {
    padding-bottom: 20px;
}

#sourceURL {
    overflow-wrap: break-word;
}

.home-search-bar {
    padding: 250px 0 150px 0;
}

.home-search-bar .select-button {
    width: 90px;
}

.section-search-bar {
    padding: 30px 0 10px 0;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.store-profile-hours-list-of-item {
    padding-left: 30px;
    padding-right: 30px;
}

.section-top-margin {
    margin-top: 20px;
}

.button-top-margin {
    margin-top: 20px;
}

.customize-top-margin-20 {
    margin-top: 20px;
}

.home-search-option-width {
    width: 90px;
}

.input-hidden {
    display: none;
}

.navbar-inverse {
    background-color: #fcaa19;
}

.navbar-inverse .navbar-nav > li > a {
    color: #402424;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #080808;
}

.home-picture-frame {
    position: relative;
    margin-top: 30px
}

.home-img-width {
    width: 100%
}

.home-search-bar-position {
    position: absolute;
    top: 40%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%
}

.textToTop {
    margin-top: 0;
    vertical-align: top;
}

img#photo.imageToCenter {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

#role-description {
    background-color: white;
    padding: 10px;
}

a#numOfLikeShowCreator.btn {
    color: black;
}

a#numOfLikeShowCreator.btn:hover,
a#numOfLikeShowCreator.btn:visited {
    color: black;
    cursor: default;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}

.input-responsive {
    width: 100%;
}

.glyphicon-heart {
    color: red;
}

.glyphicon-heart-empty {
    color: black;
}

.list-sm-img {
    margin: 0;
}

.sidebar {
    display: none;
}

#recipe-image-show {
    max-width: 360px;
}

@media (min-width: 768px) {
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .navbar {
        height: 50px;
    }

    .navbar-inverse .navbar-collapse {
        float: right;
        display: inline-block;
    }

    .navbar-inverse .container-fluid {
        display: inline-block;
    }

    img#photo.imageToCenter {
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }

    .main {

        padding-right: 40px;
        padding-left: 40px;
    }

    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #CCBFA6;
        border-right: 1px solid #998F7C;
    }

    .list-name-sidebar {
        padding: 0;
    }
}

