<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container hidden-sm-down">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

    <ul class="list-group table table-responsive hidden-xs">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    From
                </div>
                <div class="col-xs-3">
                    To
                </div>
                <div class="col-xs-4">
                    Type
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <input ng-model="model.fromName"
                           class="form-control"
                           readonly>
                </div>

                <div class="col-xs-3">
                    <input ng-model="model.comment.toId"
                           class="form-control"
                           readonly>
                </div>

                <div class="col-xs-4">
                    <input ng-model="model.toType"
                           class="form-control"
                           readonly>

                </div>

                <div class="col-xs-2 text-center">
                    <span ng-click="model.updateComment(model.fromName, model.toType, model.comment)"
                          class="glyphicon glyphicon-ok"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 message-content">
                    Content:
                    <input ng-model="model.comment.content"
                           class="form-control">
                </div>
                <div class="col-xs-2 message-content">

                </div>
            </div>
        </li>

        <li ng-repeat="comment in model.comments" class="list-group-item">

            <div class="row">
                <div class="col-xs-3">
                    {{comment.fromWhom.username}}
                </div>
                <div class="col-xs-3 message-content">
                    {{comment.toName}}
                </div>
                <div class="col-xs-4 message-content">
                    {{comment.toType}}
                </div>
                <div class="col-xs-2 text-center">
                    <span ng-click="model.deleteComment(comment)" class="glyphicon glyphicon-remove"></span>
                    <span ng-click="model.selectComment(comment)" class="glyphicon glyphicon-pencil"></span>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 message-content">
                    <strong>Content: </strong>
                    {{comment.content}}
                </div>
            </div>
        </li>
    </ul>


    <ul class="list-group table table-responsive visible-xs">
        <li class="list-group-item">
            <div class="input-group">
                    <span class="input-group-addon">
                        From
                    </span>
                <input readonly
                       ng-model="model.fromName"
                       class="form-control">
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                        To
                    </span>
                <input readonly
                       ng-model="model.comment.toId"
                       class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                        Type
                    </span>
                <input ng-model="model.toType"
                       class="form-control"
                       readonly>

            </div>
            <div class="input-group">
                <span class="input-group-addon">
                        Content
                    </span>
                <input ng-model="model.comment.content"
                       class="form-control">
            </div>
        </li>
        <div class="btn btn-success form-control"
             ng-if="!model.comment._id"
             ng-click="model.createComment(model.fromName, model.toType, model.comment)">
            Create
        </div>
        <div class="btn btn-primary form-control"
             ng-if="model.comment._id"
             ng-click="model.updateComment(model.fromName, model.toType, model.comment)">
            Update
        </div>

        <div class="margin-top-15">
            <li ng-repeat="comment in model.comments" class="list-group-item">
                <div>
                    <b>From:</b> {{comment.fromWhom.username}}
                    <div class="col-xs-2 pull-right">
                        <span ng-click="model.deleteComment(comment)" class="glyphicon glyphicon-remove"></span>
                        <span ng-click="model.selectComment(comment)" class="glyphicon glyphicon-pencil"></span>
                    </div>
                </div>
                <div>
                    <b>To: </b>{{comment.toName}}
                </div>
                <div>
                    <b>Type: </b>{{comment.toType}}
                </div>

                <div class="message-content">
                    <b>Content: </b>
                    {{comment.content}}
                </div>
            </li>
        </div>
    </ul>
</div>
<div ng-include="'./views/common/footer.view.client.html'"></div>
