<div class="container-fluid main-container">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    Storename
                </div>
                <div class="col-xs-3">
                    Ownername
                </div>
                <div class="col-xs-2">
                    Lastname
                </div>
                <div class="col-xs-4">
                    Role
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <input ng-model="model.store.name"
                    class="form-control">
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.store.firstname"
                           class="form-control">
                </div>
                <div class="col-xs-2">
                    <input ng-model="model.store.lastname"
                           class="form-control">
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.store.role"
                           class="form-control">
                </div>
                <div class="col-xs-1">
                    <span ng-click="model.createStore(model.store)"class="glyphicon glyphicon-plus"></span>
                    <span ng-click="model.updateStore(model.store)"class="glyphicon glyphicon-ok pull-right"></span>
                </div>
            </div>
        </li>

        <li ng-repeat="store in model.stores" class="list-group-item">

            <div class="row">
                <div class="col-xs-3">
                    {{store.storename}}
                </div>
                <div class="col-xs-3">
                    {{store.firstName}}
                </div>
                <div class="col-xs-2">
                    {{store.lastName}}
                </div>
                <div class="col-xs-3">
                    {{store.role}}
                </div>
                <div class="col-xs-1 pull-right">
                    <span ng-click="model.deleteStore(store)" class="glyphicon glyphicon-remove pull-right"></span>
                    <span ng-click="model.selectStore(store)"class="glyphicon glyphicon-pencil"></span>

                </div>
            </div>
        </li>
    </ul>
</div>