<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    ID
                </div>
                <div class="col-sm-3 col-xs-5">
                    Username
                </div>
                <div class="col-sm-3 hidden-xs">
                    Email
                </div>
                <div class="col-sm-3 col-xs-6">
                    Role
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <div ng-model="model.user._id"
                         class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-5">
                    <input ng-model="model.user.username"
                           class="form-control">
                </div>

                <div class="col-sm-3 hidden-xs">
                    <input ng-model="model.user.email"
                           class="form-control">
                </div>


                <div class="col-sm-2 col-xs-5">
                        <select class="form-control"
                                data-ng-model="model.user.role">
                            <option ng-repeat="role in model.roles"
                                    ng-init="model.user.role = 'USER'"
                                    ng-selected="model.user.role == role" value="{{role}}">
                                {{role}}
                            </option>
                        </select>
                </div>

                <!--<div class="col-sm-2 col-xs-5">-->
                <!--<input ng-model="model.user.role"-->
                <!--class="form-control">-->
                <!--</div>-->


                <div class="col-sm-1 col-xs-2">
                    <span ng-click="model.createUser(model.user)" class="glyphicon glyphicon-plus"></span>
                    <!--<span ng-click="model.updateUser(model.user)"class="glyphicon glyphicon-ok pull-right"></span>-->
                </div>
            </div>
        </li>

        <li ng-repeat="user in model.users" class="list-group-item">

            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    {{user._id}}
                </div>
                <div class="col-sm-3 col-xs-5">
                    {{user.username}}
                </div>
                <div class="col-sm-3 hidden-xs">
                    {{user.email}}
                </div>
                <div class="col-sm-2 col-xs-5">
                    {{user.role}}
                </div>
                <div class="col-sm-1 col-xs-2">
                    <span ng-click="model.deleteUser(user)" class="glyphicon glyphicon-remove pull-right"></span>
                    <a ng-href="#!/admin/user/{{user._id}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-include="'./views/common/footer.view.client.html'"></div>
