<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container hidden-sm-down">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

    <ul class="list-group table table-responsive">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2">
                    From
                </div>
                <div class="col-xs-2">
                    To
                </div>
                <div class="col-xs-2">
                    Type
                </div>
                <div class="col-xs-6">
                    Content
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2">
                    <input ng-model="model.fromName"
                           class="form-control">
                </div>

                <div class="col-xs-2">
                    <input ng-model="model.comment.toId"
                           class="form-control">
                </div>

                <div class="col-xs-2">
                    <select class="form-control"
                            data-ng-model="model.toType">
                        <option ng-repeat="type in model.types"
                                ng-init="model.toType = 'Recipe'"
                                ng-selected="model.toType == type" value="{{type}}">
                            {{type}}
                        </option>
                    </select>
                </div>

                <div class="col-xs-5 message-content">
                    <input ng-model="model.comment.content"
                           class="form-control">
                </div>
                <div class="col-xs-1">
                    <!--<span ng-click="model.createComment(model.fromName, model.toType, model.comment)"-->
                          <!--class="glyphicon glyphicon-plus"></span>-->
                    <span ng-click="model.updateComment(model.fromName, model.toType, model.comment)"
                          class="glyphicon glyphicon-ok pull-right"></span>
                </div>
            </div>
        </li>

        <li ng-repeat="comment in model.comments" class="list-group-item">

            <div class="row">
                <div class="col-xs-2">
                    {{comment.fromWhom.username}}
                </div>
                <div class="col-xs-2 message-content">
                    {{comment.toName}}
                </div>
                <div class="col-xs-2 message-content">
                    {{comment.toType}}
                </div>
                <div class="col-xs-5 message-content">
                    {{comment.content}}
                </div>
                <div class="col-xs-1 pull-right">
                    <span ng-click="model.deleteComment(comment)" class="glyphicon glyphicon-remove pull-right"></span>
                    <span ng-click="model.selectComment(comment)" class="glyphicon glyphicon-pencil"></span>

                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-include="'./views/common/footer.view.client.html'"></div>
