<div class="container-fluid main-container">
    <ul class="list-group">
        <li class="input-group">
            <span class="input-group-addon" id="id">
                ID
            </span>
            <div class="form-control"
                 aria-describedby="id">
                {{model.user._id}}
            </div>
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="username">
                Username
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="username"
                   ng-model="model.user.username">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="firstName">
                FirstName
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="firstName"
                   ng-model="model.user.firstName">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="lastName">
                LastName
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="lastName"
                   ng-model="model.user.lastName">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="email">
                Email
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="email"
                   ng-model="model.user.email">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="role">
                Role
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="role"
                   ng-model="model.user.role">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="followers">
                Followers
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="followers"
                   ng-model="model.user.followers">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="followings">
                Followings
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="followings"
                   ng-model="model.user.followings">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="likedRecipes">
                Liked Recipes
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="likedRecipes"
                   ng-model="model.user.likedRecipes">
        </li>
        <li class="input-group">
            <span class="input-group-addon" id="collectedProducts">
                Collected Products
            </span>
            <input type="text"
                   class="form-control"
                   aria-describedby="collectedProducts"
                   ng-model="model.user.collectedProducts">
        </li>
        <a class="btn btn-success form-control margin-top-15"
           ng-click="model.updateUser(model.user)">
            Update
        </a>
    </ul>
</div>