<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    ID
                </div>
                <div class="col-xs-3">
                    Recipe Name
                </div>
                <div class="col-xs-3">
                    Creator Name
                </div>
                <div class="col-xs-2">

                </div>
                <!--<div class="col-xs-3">-->
                    <!--Description-->
                <!--</div>-->

            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    {{model.recipe._id}}
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.recipe.name"
                    class="form-control">
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.username"
                           class="form-control">
                </div>
                <!--<div class="col-xs-2">-->
                    <!--<input ng-model="model.recipe.description"-->
                           <!--class="form-control">-->
                <!--</div>-->

                <div class="col-xs-2 text-center">
                    <span ng-click="model.createRecipe(model.username, model.recipe)" class="glyphicon glyphicon-plus"></span>
                    <span ng-click="model.updateRecipe(model.username, model.recipe)" class="glyphicon glyphicon-ok"></span>
                </div>
            </div>
        </li>

        <li ng-repeat="recipe in model.recipes" class="list-group-item">

            <div class="row">
                <div class="col-xs-4">
                    {{recipe._id}}
                </div>
                <div class="col-xs-3">
                    {{recipe.name}}
                </div>
                <div class="col-xs-3">
                    {{recipe._creator.username}}
                </div>
                <!--<div class="col-xs-2">-->
                    <!--{{recipe.description}}-->
                <!--</div>-->

                <div class="col-xs-2 text-center">
                    <span ng-click="model.deleteRecipe(recipe)" class="glyphicon glyphicon-remove"></span>
                    <span ng-click="model.selectRecipe(recipe)" class="glyphicon glyphicon-pencil"></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-include="'./views/common/footer.view.client.html'"></div>
