<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container hidden-sm-down">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

    <ul class="list-group table table-responsive">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    From
                </div>
                <div class="col-xs-3">
                    To
                </div>
                <div class="col-xs-4">
                    Type
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <input readonly
                            ng-model="model.fromName"
                           class="form-control">
                </div>

                <div class="col-xs-3">
                    <input readonly
                            ng-model="model.comment.toId"
                           class="form-control">
                </div>

                <div class="col-xs-4">
                    <input readonly
                           ng-model="model.toType"
                           class="form-control">
                </div>

                <!--<div class="col-xs-4">-->
                    <!--<select class="form-control"-->
                            <!--readonly-->
                            <!--data-ng-model="model.toType">-->
                        <!--<option ng-repeat="type in model.types"-->
                                <!--ng-init="model.toType = 'Recipe'"-->
                                <!--ng-selected="model.toType == type" value="{{type}}">-->
                            <!--{{type}}-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</div>-->
                <div class="col-xs-2 text-center">
                    <!--<span ng-click="model.createComment(model.fromName, model.toType, model.comment)"-->
                          <!--class="glyphicon glyphicon-plus"></span>-->
                    <span ng-click="model.updateComment(model.fromName, model.toType, model.comment)"
                          class="glyphicon glyphicon-ok"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 message-content">
                    Content:
                    <input ng-if="!model.comment.content"
                           readonly
                           ng-model="model.comment.content"
                           class="form-control">
                    <input ng-if="model.comment.content"
                           ng-model="model.comment.content"
                           class="form-control">
                </div>
                <div class="col-xs-2 message-content">

                </div>
            </div>
        </li>

        <li ng-repeat="comment in model.comments" class="list-group-item">

            <div class="row">
                <div class="col-xs-3">
                    {{comment.fromWhom.username}}
                </div>
                <div class="col-xs-3 message-content">
                    {{comment.toName}}
                </div>
                <div class="col-xs-4 message-content">
                    {{comment.toType}}
                </div>
                <div class="col-xs-2 text-center">
                    <span ng-click="model.deleteComment(comment)" class="glyphicon glyphicon-remove"></span>
                    <span ng-click="model.selectComment(comment)" class="glyphicon glyphicon-pencil"></span>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 message-content">
                    Content:
                    {{comment.content}}
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-include="'./views/common/footer.view.client.html'"></div>
