<div class="container-fluid main-container">
    <ul class="list-group">
        <li class="list-group-item">
           <a href="#!/admin/users">Users</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/stores">Stores</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/recipes">Recipes</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/merchandises">Merchandises</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/comments">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/follows">Follow relations</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/follows">Follow relations</a>
        </li>

    </ul>
</div>