<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container hidden-sm-down" >
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    Merchandise ID
                </div>
                <div class="col-xs-3">
                    Merchandise Name
                </div>
                <div class="col-xs-3">
                    Store Name
                </div>
                <!--<div class="col-sm-4 col-xs-6">-->
                    <!--Description-->
                <!--</div>-->
                <div class="col-xs-2">

                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    <input readonly
                            ng-model="model.merchandise._id"
                           class="form-control">
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.merchandise.name"
                    class="form-control">
                </div>
                <div class="col-xs-3">
                    <input ng-model="model.storeName"
                           class="form-control">
                </div>
                <!--<div class="col-xs-3">-->
                    <!--<input ng-model="model.merchandise.price"-->
                           <!--class="form-control">-->
                <!--</div>-->
                <!--<div class="col-sm-3 col-xs-4">-->
                    <!--<input ng-model="model.merchandise.description"-->
                           <!--class="form-control">-->
                <!--</div>-->
                <div class="col-xs-2 text-center">
                    <span ng-click="model.createMerchandise(model.storeName, model.merchandise)"class="glyphicon glyphicon-plus"></span>
                    <!--<span ng-click="model.updateMerchandise(model.storeName, model.merchandise)"class="glyphicon glyphicon-ok"></span>-->
                </div>
            </div>
        </li>

        <li ng-repeat="merchandise in model.merchandises" class="list-group-item">

            <div class="row">
                <div class="col-xs-4">
                    {{merchandise._id}}
                </div>
                <div class="col-xs-3">
                    {{merchandise.name}}
                </div>
                <div class="col-xs-3">
                    {{merchandise._store.name}}
                </div>
                <!--<div class="col-xs-2">-->
                    <!--{{merchandise.price}}-->
                <!--</div>-->
                <!--<div class="col-sm-3 col-xs-4">-->
                <!--{{merchandise.description}}-->
                <!--</div>-->
                <div class="col-xs-2 text-center">
                    <span ng-click="model.deleteMerchandise(merchandise)" class="glyphicon glyphicon-remove"></span>
                    <span ng-click="model.selectMerchandise(merchandise)" class="glyphicon glyphicon-pencil"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-include="'./views/common/footer.view.client.html'"></div>
