<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="current-brand navbar-brand hover-focus-disable"
              href="">Project Name</span>
    </div>
    <div id="navbar"
         class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="">Home</a></li>
            <li><a ng-if="model.currentUser.role === 'ADMIN'" href="#!/admin">Admin</a></li>
            <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
            <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
            <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
            <li ng-show="model.currentUser._id"><a ng-click="model.logout()">Logout</a></li>
        </ul>
    </div><!--/.navbar-collapse -->
</nav>

<div class="container-fluid">
    <div class="home-search-bar input-group">

    <span class="input-group-btn form-group" style="width:80px">
        <select ng-model="model.searchType"
                class="form-control"
                ng-options="searchOption.value as searchOption.label for searchOption in model.searchOptions"
                ng-init="model.model.searchOptions[0].value"></select>
    </span>
        <input ng-model="model.searchContent"
               type="text"
               class="form-control">

        <span class="input-group-btn">
           <a ng-click="model.searchWithCoords()"
              class="btn btn-default" type="button">
               <span class="glyphicon glyphicon-search"></span>
           </a>
       </span>
    </div>
</div>


