<div ng-include="'./views/common/header.view.client.html'"></div>

<!--body-->


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center recipeListImages"
             ng-repeat="merchandise in model.merchandises">
            <div class="wd-widget-toolbar">
                <!--TODO: check if the logged in user is the owner-->
                <!--TODO: ng-show="model.ifCreator()" IN THIS <a>-->
                <a ng-if="model.canEdit" href="#!/store/{{model.storeId}}/merchandise/{{merchandise._id}}/edit">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>

            <img class="recipeListImage"
                 ng-src="{{merchandise.image}}"
                 onerror="this.onerror=null; this.src='/resource/defaultPics/placeholder-image10.jpg'"/>
            <!--TODO: merchandise detail page, tempo url here-->
            <a href="#!/store/{{model.storeId}}/merchandise/{{merchandise._id}}">
                <p class="text-on-image">{{merchandise.name}}</p>
            </a>
        </div>
        <div
             class="col-xs-12 col-sm-6 col-md-4 text-center recipeListImages">
            <img class="recipeListImage"
                 src="/resource/defaultPics/addphoto.png"/>
            <a href="">
                <p ng-click="model.createMerchandise()"
                   class="text-on-image">Add New Merchandise!</p>
            </a>
        </div>
    </div>
</div>


<div ng-include="'./views/common/footer.view.client.html'"></div>
