<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            <div class="nav nav-sidebar">
                <h4>Recipe Provider:</h4>
                < img id="smallProfileImage" class="img-responsive" ng-src="{{model.recipeCreator.photo}}"/>
                <label for="username">Username</label>
                <p id="username">{{model.recipeCreator.username}}</p >
                <label for="name">Name</label>
                <p id="name">{{model.recipeCreator.firstName}} {{model.recipeCreator.lastName}}</p >
                <label for="email">Email</label>
                <p id="email">{{model.recipeCreator.email}}</p >
                <a class="btn btn-block btn-primary" href=" ">Find more</a >
            </div>

        </div>
        <div class="col-sm-10 col-sm-offset-2 main">
            <h2 class="page-header">{{model.recipe.name}}
                <a class="btn pull-right" ng-show="model.like" ng-click="model.unlikeRecipe()">
                    <span class="glyphicon glyphicon-heart"></span>
                </a >
                <a class="btn pull-right" ng-show="!model.like" ng-click="model.likeRecipe()">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </a >
            </h2>
            <span>total time: {{model.recipe.totalTime}}</span><br>
            <span>number of servings: {{model.recipe.numberOfServings}}</span>
            <!--{{model.recipe}}-->
            <h3 class="sub-header">Ingredients</h3>
            <!--{{ingredient.description}}-->
            <!--{{model.recipe.ingredients}}-->
            <div ng-repeat="ingredient in model.recipe.ingredients">
                <ul class="list-unstyled">
                    <li><a ng-click="model.goToIngredientDetail(ingredient.name)">{{ingredient.name}}</a > : {{ingredient.description}}</li>
                </ul>
            </div>

            <h3 class="sub-header">Instructions</h3>