<div ng-include="'./views/common/header.view.client.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="list-name-sidebar col-sm-2 sidebar">
            <ul class="nav nav-sidebar">
                <!--<li class=""><a>Recipe List<span class="sr-only"></span></a ></li>-->
                <li class="list-group-item active"><h5>Product List</h5></li>
                <li ng-repeat="merchandise in model.merchandises"
                    ng-class="{active: merchandise._id === model.merchandiseId}"
                    class="list-group-item">
                    <!--<li ng-class="{active: merchandise._id === model.merchandiseId}"><a href=" "> {{merchandise.name}}<span class="sr-only">(current)</span></a ></li>-->

                    <div class="row">
                        <div class="col-sm-8">
                            {{merchandise.name}}
                        </div>
                        <div class="col-sm-4">
                            <a ng-if="merchandise._id !== model.merchandiseId"
                               href="#!/store/{{merchandise._store}}/merchandise/{{merchandise._id}}/edit">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a >
                        </div>

                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 main">
            <div ng-show="model.message"
                 class="alert alert-primary">{{model.message}}
            </div>
            <div ng-show="model.error"
                 class="alert alert-danger">{{model.error}}
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control"
                       ng-model="model.merchandise.name"
                       placeholder="please enter the name of the merchandise"
                       id="name"/>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control"
                       type="number"
                       ng-model="model.merchandise.price"
                       placeholder="please enter the name of the merchandise"
                       id="price"/>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description"
                          ng-model="model.merchandise.description"
                          rows="3"
                          placeholder="please enter the description of the merchandise"
                          class="form-control">
                    </textarea>
            </div>


            <div class="form-group">
                <label for="image">Image</label>
                <input type="url"
                       class="form-control"
                       ng-model="model.merchandise.image"
                       id="image"
                       placeholder="please upload the image of your merchandise"/>
            </div>

            <div class="form-group" ng-if="model.mode === 'edit'">
                <form action="/api/upload/merchandise/picture"
                      method="post"
                      enctype="multipart/form-data"
                      class="margin-top-15"
                      ng-if="model.mode==='edit'">
                    <input name="myFile" type="file" class="form-control"/>
                    <input name="storeId" value="{{model.storeId}}" class = "input-hidden"/>
                    <input name="merchandiseId" class="input-hidden" value="{{model.merchandiseId}}" />
                    <button type="submit" class="btn btn-block btn-primary">
                        Upload Photo
                    </button>
                </form>
            </div>

            <a ng-if="model.mode === 'new'"
               ng-click="model.createMerchandise()"
               class="btn btn-block btn-success">Create</a >
            <a ng-if="model.mode === 'new'"
               ng-click="model.cancelMerchandise()"
               class="btn btn-block btn-danger">cancel</a >
            <a ng-if="model.mode === 'edit'"
               ng-click="model.updateMerchandise()"
               class="btn btn-block btn-primary">Update</a >
            <a ng-if="model.mode === 'edit'"
               ng-click="model.deleteMerchandise()"
               class="btn btn-block btn-danger">delete</a >
        </div>
    </div>
</div>
<div ng-include="'./views/common/footer.view.client.html'"></div>

