<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container">
    <div id="photoBlock">
        <a href="#!/account/photo">
            <img id="photo"
                 class="imageToCenter"
                 ng-src="{{model.user.photo}}"
                 width="30%"
                 onerror="this.onerror=null; this.src='/resource/defaultPics/default_profile.png'"/>
            <label for="photo"
                   class="btn btn-primary textToCenter">upload photo</label>
        </a>
    </div>

    <div ng-show="model.error"
         class="alert alert-danger">{{model.error}}
    </div>
    <div ng-show="model.message"
         class="alert alert-info">{{model.message}}
    </div>


    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   ng-model="model.user.username"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   ng-model="model.user.email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   class="form-control"
                   id="first-name"
                   ng-model="model.user.firstName"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="last-name"
                   ng-model="model.user.lastName"
                   placeholder="Wonderland">
        </div>
        <div class="form-group ">
            <b>BMR: </b> {{model.user.bmr}}
            <a class="btn btn-default pull-right"
               href="#!/account/calorie">Count BMR and BMI</a>
        </div>
    </form>

    <br>

    <a class="btn btn-primary btn-block"
       href="#!/profile">Profile</a>
    <a class="btn btn-success btn-block"
       ng-click="model.updateUser(model.user)">
        Update
    </a>
    <a class="btn btn-danger btn-block"
       ng-click="model.unregister()">
        Unregister
    </a>
</div>


<div ng-include="'./views/common/footer.view.client.html'"></div>
