<div class="container-fluid main-container">

    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>


    <form>
        <div class="form-group">
            <label for="weight">Weight in pounds</label>
            <input type="text"
                   class="form-control"
                   id="weight"
                   ng-model="model.user.weight"
                   placeholder="140">
        </div>
        <div class="form-group">
            <label for="height">Height in inches</label>
            <input type="text"
                    class="form-control"
                   id="height"
                   ng-model="model.user.height"
                   placeholder="5.8">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text"
                   class="form-control"
                   id="age"
                   ng-model="model.user.age"
                   placeholder="30">
        </div>
        <div class="form-group">
           Gender:
            <input type="radio" ng-model="model.user.gender" value="male" > Male
            <input type="radio" ng-model="model.user.gender" value="female"> Female
        </div>
    </form>
    <a class="btn btn-success btn-block"
       ng-click="model.countCalorie(model.user)">Count my daily calorie burned</a>

    <div ng-show="model.calorie"
    class="alert alert-info"> Your BMR is {{model.calorie}}</div>
</div>