<div class="container-fluid main-container">
    <img id="photo"
         class="imageToCenter"
         ng-src="{{model.user.photo}}" width="50%"/>

    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data"
          class="margin-top-15">
        <input name="myFile" type="file" class="form-control"/>
        <!--<input name="width" value="{{model.user.photo.width}}" style="display: none"/>-->
        <input name="userId" value="{{model.userId}}" style="display: none"/>
        <button ng-click="#!/account"
                class="btn btn-block btn-primary">
            Upload Photo
        </button>
    </form>
</div>