<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container">
    <div class="row">
        <div id="photoBlock" class="col-xs-12 col-sm-4">
            <img id="photo" class="imageToCenter img-responsive img-circle"
                 ng-src="{{model.user.photo}}"
                 onerror="this.onerror=null; this.src='/resource/defaultPics/default_profile.png'"/>

            <a ng-if="model.isMyProfile"
               class="btn btn-info form-control"
               href="#!/account">
                Manage my account
            </a>

            <!--to show the likedRecipe/collectedProducts(regular user) or createdRecipes(recipeProvider)-->
            <div ng-switch="model.user.role">
                <div class="margin-top-15" ng-switch-when='RECIPEPRO'>
                    <a class="btn btn-primary form-control"
                       ng-click="model.navToRecipeListPage()">
                        View all recipes
                    </a>
                </div>
                <div class="margin-top-15" ng-switch-when='MERCHANT'>
                    <a class="btn btn-primary form-control"
                       ng-click="model.navToStorePage()">
                        Go to store
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <h3 class="textToTop textToCenter">{{model.user.username}}</h3>
            <p class="textToCenter"
               ng-if="model.user.role === 'RECIPEPRO'">
                Recipe Provider</p>
            <p class="textToCenter"
               ng-if="model.user.role === 'USER'">
                General User</p>
            <p class="textToCenter"
               ng-if="model.user.role === 'MERCHANT'">
                Store Owner</p>
            <p class="textToCenter"
               ng-if="model.user.role === 'ADMIN'">
                Administer</p>
            <div class="margin-top-15 input-group">
                <input class="form-control" ng-model="model.message">
                <span class="input-group-btn">
                        <a ng-click="model.sendMessage(model.message)"
                           class="btn btn-success"
                           type="button">
                            <span>Leave me a message!</span>
                        </a>
                    </span>
            </div>
            <div ng-if="!model.isMyProfile">
                <a class="margin-top-15 btn btn-primary toBottom form-control"
                   ng-show="model.followed == false"
                   ng-click="model.follow()">
                    Follow
                </a>
                <a class="margin-top-15 btn btn-default toBottom form-control"
                   ng-show="model.followed == true"
                   ng-click="model.unfollow()">
                    Unfollow
                </a>
            </div>
            <div class="row" id="followerNfollowing">
                <div ng-show="model.user.role == 'USER'"
                     class="col-xs-6 textToCenter">
                    <a ng-click="model.showFollowings()">
                        <label for="following">following</label>
                        <p id="following">{{model.user.followings.length}}</p>
                    </a>
                </div>
                <div ng-show="model.user.role != 'USER'"
                     class="col-xs-6 textToCenter">
                    <label for="noFollowing">following</label>
                    <p id="noFollowing">N/A</p>
                </div>
                <div class="col-xs-6 textToCenter">
                    <a ng-click="model.showFollowers()">
                        <label for="follower">follower</label>
                        <p id="follower">{{model.user.followers.length}}</p>
                    </a>
                </div>
            </div>

            <div id="followDetail"
                 class="collapse">
                <ul class="list-group">
                    <li class="row list-sm-img list-group-item" ng-repeat="follow in model.follows">
                        <div class="col-xs-2">
                            <img ng-src="{{follow.photo}}" width="80%"
                                 onerror="this.onerror=null; this.src='/resource/defaultPics/default_profile.png'"/>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a ng-href="#!/profile/{{follow._id}}">{{follow.username}}</a>
                        </div>
                        <div class="col-xs-4">
                            follower: {{follow.followers.length}}
                        </div>
                        <div class="col-sm-4 hidden-xs" ng-show="follow.role == 'USER'">
                            following: {{follow.followings.length}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-if="model.user.role == 'USER'">
        <ng-include src="'./views/user/templates/snippets/user-profile.view.client.html'"></ng-include>
    </div>
</div>

<div ng-include="'./views/common/footer.view.client.html'"></div>

