<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid">

    <div class="input-group section-search-bar">
        <input ng-model="model.searchContent"
               type="text"
               placeholder="Search User"
               class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchUser()"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>

    <h3 class="sub-header">Users</h3>
    <div ng-repeat="user in model.users"
         class="col-sm-6">
        <a ng-click="model.navToUserProfile(user)">
            <div class="card-view ">
                <div class="hidden-xs col-sm-4 ">
                    <div class="">
                        <img ng-src="{{user.photo}}"
                             class="img-thumbnail card-view-image"
                             onerror="this.onerror=null; this.src='/resource/defaultPics/default_profile.png'"/><br>
                    </div>
                </div>
                <div class="col-xs-8 ">
                    <ul class="list-unstyled card-view-list-group">
                        <li class="card-view-list-group-item-title">
                            <span>Username</span>
                        </li>
                        <li id="storeName"
                            class="card-view-list-group-item-content">
                            {{user.username}}
                        </li>
                        <li class="card-view-list-group-item-title">
                            <span>Fisrt Name</span>
                        </li>
                        <li id="storeOwner"
                            class="card-view-list-group-item-content">
                            {{user.firstName}}
                        </li>
                        <li class="card-view-list-group-item-title">
                            <span>Last Name</span>
                        </li>
                        <li id=""
                            class="card-view-list-group-item-content">
                            {{user.lastName}}
                        </li>

                    </ul>
                </div>
            </div>
        </a>
    </div>


</div>


<div ng-include="'./views/common/footer.view.client.html'"></div>
