<div ng-include="'./views/common/header.view.client.html'"></div>


<div class="container-fluid main-container">
    <ul class="list-group" ng-repeat="message in model.messages">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-2">
                    from
                </div>
                <div class="col-xs-6">
                    content
                </div>
                <div class="col-xs-2">
                    time
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-2">
                    <img ng-src="{{message.fromWhom.photo}}" width="50%"/>
                </div>
                <div class="col-xs-2">
                    {{message.fromWhom.username}}
                </div>
                <div class="col-xs-6">
                    {{message.content}}
                </div>
                <div class="col-xs-2">
                    {{message.time}}
                </div>
                <a ng-click="model.deleteMessage(message)"
                   class="pull-right">
                    <span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </li>

    </ul>
</div>

<div ng-include="'./views/common/footer.view.client.html'"></div>
