<div ng-include="'./views/common/header.view.client.html'"></div>

<div class="container-fluid main-container">
    <img id="photo"
         class="imageToCenter"
         ng-src="{{model.user.photo}}"
         width="50%"
         onerror="this.onerror=null; this.src='/resource/defaultPics/default_profile.png'"/>

    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data"
          class="margin-top-15">
        <input name="myFile"
               type="file"
               class="form-control"/>
        <input name="userId"
               value="{{model.userId}}"
               class="input-hidden"/>
        <button href="#!/account"
                class="btn btn-block btn-primary">
            Upload Photo
        </button>
    </form>
</div>

<div ng-include="'./views/common/footer.view.client.html'"></div>
