<nav class="navbar navbar-default margin-top-15">
    <div class="container-fluid textToCenter">
        <div class="col-xs-6 navbar-brand active">
            Liked Recipes
        </div>
        <div class="col-xs-6 navbar-brand">
            Collected Products
        </div>
    </div>
</nav>

<!--<div ng-switch="model.recipeOrProduct"-->
<!--class="container-fluid main-container">-->
<!--<div ng-switch-when="RECIPE">-->
<!--<ng-include-->
<!--src="views/user/templates/snippets/likedRecipes.view.client.html"></ng-include>-->
<!--</div>-->
<!--<div ng-switch-when="PRODUCT">-->
<!--<ng-include-->
<!--src="views/user/templates/snippets/collectedProducts.view.client.html"></ng-include>-->
<!--</div>-->
<!--</div>-->